* {
  margin: 0;
  padding: 0; }

*,
::after,
::before {
  box-sizing: border-box; }

body {
  background-color: #f0f0f0;
  font-family: 'Montserrat', sans-serif; }

.header .navbarPers {
  width: 100%;
  position: fixed;
  background-color: white !important;
  opacity: 30%; }

.header .container-fluid #navbarSupportedContent ul li .textoNavbar {
  color: black !important;
  font-weight: bold;
  font-size: 1.3rem; }
  .header .container-fluid #navbarSupportedContent ul li .textoNavbar:hover {
    border-bottom: 2px solid black; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px; }
  .footer .enlaces {
    display: flex;
    flex-direction: row;
    border-bottom: #cfcfcf solid 1px;
    padding-bottom: 10px;
    justify-content: space-between;
    width: 60%;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .footer .enlaces {
        width: 95%; } }
    .footer .enlaces h4 {
      font-weight: bold;
      font-size: 17px; }
    .footer .enlaces .footerLogo {
      height: 40px; }
    .footer .enlaces .redes {
      display: flex;
      align-items: center;
      gap: 20px; }
      @media screen and (max-width: 768px) {
        .footer .enlaces .redes {
          gap: 10px; } }
      .footer .enlaces .redes a {
        text-decoration: none; }
      .footer .enlaces .redes .redesLogo {
        height: 25px; }
  .footer .copyright {
    text-align: right;
    width: 60%;
    font-weight: bold;
    font-size: 13px;
    margin-top: 15px; }
    @media screen and (max-width: 768px) {
      .footer .copyright {
        width: 95%; } }
