.header {
    .navbarPers {
        width: 100%;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.13);
        opacity: 0.5; 
        filter:(opacity=50);
    }
    .container-fluid {
        #navbarSupportedContent {
            ul {
                li {
                    .textoNavbar {
                        color: black !important;
                        font-weight: bold;
                        font-size: 1.4rem;
                        &:hover {
                            border-bottom: 2px solid black;
                            opacity: 100% !important;
                        }
                    }
                }
            }
        }
    }
}